.taskBox {
    border-radius: 1px;
    margin-right: 2px;
    border: 2px solid rgb(231, 84, 84);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c0b4b4;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .createNewTask {
    border-radius: 1px;
    margin-right: 2px;
    border: 2px solid rgb(231, 84, 84);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c0b4b4;
    cursor: pointer;
    transition: border-color 0.25s;
  }